<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<body class="bg-white">
    <div class="trusted-by py-4 text-center text-sm">
        <span class="trusted-by-text">Trusted by</span>
        <div class="flex justify-center items-center mt-4">
            <img class="m-2" src="assets/photos/cnet-logo.png" alt="Cnet.com">
            <img class="m-2" src="assets/photos/tech-hive-logo.png" alt="TechHive">
            <img class="m-2" src="assets/photos/lifewire-logo.png" alt="LifeWire">
        </div>
    </div>
    <div class="text-center mt-12 text-2xl">Our Product Family</div>
    <div class="flex justify-center space-x-12 mt-8">
        <div class="m-4 flex flex-col items-center">
            <img src="assets/photos/product1.jpg" alt="Product 1" class="w-48 h-48 object-cover mx-auto">
            <div class="font-bold text-lg mt-4 text-gray-700">R4W</div>
            <div class="mt-2 description">An indoor camera with  <br> higher computing power</div>
            <a href="#" class="inline-block mt-2 px-4 py-2 text-white font-bold bg-blue-500 rounded button">Buy Now</a>
        </div>
        <div class="m-4 flex flex-col items-center">
            <img src="assets/photos/product2.png" alt="Product 2" class="w-48 h-48 object-cover mx-auto">
            <div class="font-bold text-lg mt-4 text-gray-700">FI9821P</div>
            <div class="mt-2 description">Our Most Popular<br> Outdoor Camera</div>
            <a href="#" class="inline-block mt-2 px-4 py-2 text-white font-bold bg-blue-500 rounded button">Buy Now</a>
        </div>
        <div class="m-4 flex flex-col items-center">
            <img src="assets/photos/product3.png" alt="Product 3" class="w-48 h-48 object-cover mx-auto">
            <div class="font-bold text-lg mt-4 text-gray-700">Fn3104W Wireless NVR Kit</div>
            <div class="mt-2 description">The perfect way to <br>review your footage</div>
            <a href="#" class="inline-block mt-2 px-4 py-2 text-white font-bold bg-blue-500 rounded button">Buy Now</a>
        </div>
    </div>
    <div class="text-center mt-8 ">
        <span class="custom-text-color font-semibold">Find the FOSCAM camera perfect for you</span>
        <span class="custom-arrow font-bold">&gt;</span>
    </div>
</body>
</html>




